/* About 1 ---------------------------------- */
.img-box1 {
    position: relative;
    z-index: 2;
    display: inline-block;
    &:after {
        content: '';
        position: absolute;
        inset: 82px;
        border: 14px solid $theme-color;
        border-radius: 40px;
        z-index: -1;
    }
    &:before {
        content: '';
        position: absolute;
        width: 320px;
        height: 14px;
        background: $theme-color2;
        top: 82px;
        right: 150px;
        z-index: 1;
    }
    .img1 {
        img {
            border-radius: 0px;
            max-width: 690px;
            height: 690px;
            object-fit: cover;
            @include xl {
                max-width: none;
                width: 100%;
                height: 641px;
            }
            @include sm {
                height: auto;
            }
        }
    }
    .about-shape1-1 {
        position: absolute;
        left: -186px;
        top: 0;
        z-index: -1;
        @include xxl {
            left: 0;
        }
    }
    @include sm {
        &:after {
            inset: 40px;
        }
        &:before {
            width: 200px;
            top: 40px;
            right: 120px;
        }
    }
    @include vxs {
        &:after {
            inset: 30px;
        }
        &:before {
            width: 100px;
            top: 30px;
            right: 120px;
        }
    }
}
/* About 2 ---------------------------------- */
.img-box2 {
    position: relative;
    z-index: 2;
    padding: 0 200px 56px 0;
    .img1 {
        position: relative;
        display: inline-block;
        width: 100%;
        img {
            border-radius: 30px;
            width: 100%;
            filter: grayscale(1);
            transition: 0.4s;
        }
        &:hover {
            img {
                filter: none;
            }
        }
    }   
    .img2 {
        position: absolute;
        right: 0;
        top: 30px;
        display: inline-block;
        background: $white-color;
        padding: 3px;
        border-radius: 30px;
        img {
            border-radius: 30px;
            width: 100%;
            filter: grayscale(1);
            transition: 0.4s;
        }
        &:hover {
            img {
                filter: none;
            }
        }
    }
    .img3 {
        position: absolute;
        right: 0;
        bottom: 0;
        display: inline-block;
        background: $white-color;
        padding: 3px;
        img {
            width: 100%;
            filter: grayscale(1);
            transition: 0.4s;
        }
        &:hover {
            img {
                filter: none;
            }
        }
    }
    .about-shape2-1 {
        position: absolute;
        left: -212px;
        top: -60px;
        z-index: -1;
        @include xxl {
            left: -70px;
        }
        @include ml {
            display: none;
        }
    }
    .about-shape2-2 {
        position: absolute;
        bottom: 0;
        left: -50px;
        z-index: -1;
        @include ml {
            left: 0;
        }
    }
    @include ml {
        padding: 0 150px 50px 0;
        .img2 {
            top: 70px;
        }
    }
    @include xl {
        padding: 0 100px 120px 0;
    }
    @include lg {
        padding: 0 200px 0px 0;
        .img3 {
            bottom: 60px;
        }
    }
    @include sm {
        padding: 0 70px 0px 0;
        .img2 {
            max-width: 220px;
        }
        .img3 {
            bottom: -30px;
            max-width: 250px;
        }
    }
    @include xs {
        padding: 0;
        .img2 {
            position: initial;
            max-width: none;
            animation: none !important;
            margin-top: 20px;
            border: 0;
            width: 100%;
        }
        .img3 {
            position: initial;
            max-width: none;
            animation: none !important;
            padding: 0;
            width: 100%;
            margin-top: 20px;
        }
        .about-shape2-2 {
            left: auto;
            right: 0;
        }
    }
}
.about-feature-grid {
    display: flex;
    gap: 18px;
    &:not(:last-child) {
        margin-bottom: 30px;
    }
    .box-icon {
        flex: none;
        img {
            transition: 0.4s;
        }
    }
    .box-title {
        margin-bottom: 4px;
    }
    .box-text {
        margin-bottom: -0.5em;
    }
    &:hover {
        .box-icon {
            img {
                transform: rotateY(180deg);
            }
        }
    }
}

/* About 3 ---------------------------------- */
.about-bg-shape3-1 {
    @include xxl {
        display: none;
    }
}
.img-box3 {
    display: inline-block;
    position: relative;
    padding: 148px 60px 0 0;
    .img1 {
        display: inline-block;
        img {
            border-radius: 50px;
        }
    }
    .img2 {
        position: absolute;
        top: -10px;
        right: -10px;
        border: 10px solid $white-color;
        border-radius: 50px;
        img {
            border-radius: 40px;
        }
    }
    .about-shape3-1 {
        position: absolute;
        top: 0;
        left: -250px;
        z-index: -1;
        @include xxl {
            left: 0;
        }
    }
    .year-counter {
        background-color: $theme-color;
        position: absolute;
        right: -160px;
        bottom: 60px;
        border: 10px solid $white-color;
        border-radius: 60px;
        padding: 50px 30px 45px;
        max-width: 330px;
        .year-counter_number {
            color: $white-color;
            font-size: 30px;
            font-weight: 700;
            line-height: 1.3333em;
            margin-top: -0.25em;
            margin-bottom: 10px;
        }
        .link-btn {
            color: $theme-color2;
            font-size: 16px;
            font-weight: 600;
            text-transform: capitalize;
            &:before {
                background: $theme-color2;
            }
        }
    }
    @include ml {
        .year-counter {
            right: -140px;
        }
    }
    @include xl {
        .year-counter {
            right: -70px;
            max-width: 280px;
            .year-counter_number {
                font-size: 24px;
            }
        }
    }
    @include md {
        .year-counter {
            right: 0;
        }
    }
    @include sm {
        .year-counter {
            animation: none !important;
        }
    }
    @include xs {
        padding: 0;
        .img2 {
            border: 0;
            animation: none !important;
            position: initial;
            margin-top: 20px;
            img {
                width: 100%;
            }
        }
        .about-shape3-1 {
            display: none;
        }
        .year-counter {
            position: initial;
            max-width: none;
            border: 0;
            border-radius: 30px;
            margin-top: 20px;
        }
    }
}
.about-wrap3 {
    margin-left: 140px;
    .about-feature-grid .box-title {
        font-weight: 700;
    }
    @include xl {
        margin-left: 120px;
    }
    @include lg {
        margin-left: 0;
    }
}

/* About 4 ---------------------------------- */
.about-tag {
    display: inline-flex;
    position: relative;
    border: 2px solid $white-color;
    border-radius: 50%;
    width: 152px;
    height: 152px;
    &:after {
        content: '';
        position: absolute;
        inset: 0;
        border: 34px solid rgba($color: #ffffff, $alpha: 0.1);
        border-radius: 50%;
        backdrop-filter: blur(10px);
    }
    &:before {
        content: '';
        position: absolute;
        inset: 34px;
        border-radius: 50%;
        border: 2px solid $white-color;
        z-index: 1;
    }
    .about-tag-icon {
        position: relative;
        z-index: 1;
        width: 152px;
        height: 152px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 20px;
    }
}
.about-experience-tag {
    display: inline-block;
    height: 140px;
    width: 140px;
    border-radius: 50%;
    z-index: 1;
    font-size: 16px;
    font-weight: 500;
    font-family: $body-font;
    color: $white-color;
    line-height: normal;
    text-align: center;
    animation: spin 20s linear infinite;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -70px;
    margin-top: -70px;
    span {
        --rotate-letter: 11deg;
        height: 68px;
        position: absolute;
        width: 20px;
        left: 37%;
        top: 0px;
        transform-origin: bottom;
        transform: rotate(var(--rotate-letter));
        &.char2 {
            transform: rotate(calc(var(--rotate-letter) * 2));
        }
        &.char3 {
            transform: rotate(calc(var(--rotate-letter) * 3));
        }
        &.char4 {
            transform: rotate(calc(var(--rotate-letter) * 4));
        }
        &.char5 {
            transform: rotate(calc(var(--rotate-letter) * 5));
        }
        &.char6 {
            transform: rotate(calc(var(--rotate-letter) * 6));
        }
        &.char7 {
            transform: rotate(calc(var(--rotate-letter) * 7));
        }
        &.char8 {
            transform: rotate(calc(var(--rotate-letter) * 8));
        }
        &.char9 {
            transform: rotate(calc(var(--rotate-letter) * 9));
        }
        &.char10 {
            transform: rotate(calc(var(--rotate-letter) * 10));
        }
        &.char11 {
            transform: rotate(calc(var(--rotate-letter) * 11));
        }
        &.char12 {
            transform: rotate(calc(var(--rotate-letter) * 12));
        }
        &.char13 {
            transform: rotate(calc(var(--rotate-letter) * 13));
        }
        &.char14 {
            transform: rotate(calc(var(--rotate-letter) * 14));
        }
        &.char15 {
            transform: rotate(calc(var(--rotate-letter) * 15));
        }
        &.char16 {
            transform: rotate(calc(var(--rotate-letter) * 16));
        }
        &.char17 {
            transform: rotate(calc(var(--rotate-letter) * 17));
        }
        &.char18 {
            transform: rotate(calc(var(--rotate-letter) * 18));
        }
        &.char19 {
            transform: rotate(calc(var(--rotate-letter) * 19));
        }
        &.char20 {
            transform: rotate(calc(var(--rotate-letter) * 20));
        }
        &.char21 {
            transform: rotate(calc(var(--rotate-letter) * 21));
        }
        &.char22 {
            transform: rotate(calc(var(--rotate-letter) * 22));
        }   
        &.char23 {
            transform: rotate(calc(var(--rotate-letter) * 23));
        }            
        &.char24 {
            transform: rotate(calc(var(--rotate-letter) * 24));
        }  
        &.char25 {
            transform: rotate(calc(var(--rotate-letter) * 25));
        }    
        &.char26 {
            transform: rotate(calc(var(--rotate-letter) * 26));
        }   
        &.char27 {
            transform: rotate(calc(var(--rotate-letter) * 27));
        }   
        &.char28 {
            transform: rotate(calc(var(--rotate-letter) * 28));
        }   
        &.char29 {
            transform: rotate(calc(var(--rotate-letter) * 29));
        }   
        &.char30 {
            transform: rotate(calc(var(--rotate-letter) * 30));
        }   
        &.char31 {
            transform: rotate(calc(var(--rotate-letter) * 31));
        }
        &.char32 {
            transform: rotate(calc(var(--rotate-letter) * 32));
        } 
        &.char33 {
            transform: rotate(calc(var(--rotate-letter) * 33));
        } 
        &.char34 {
            transform: rotate(calc(var(--rotate-letter) * 34));
        }   
        &.char35 {
            transform: rotate(calc(var(--rotate-letter) * 35));
        } 
        &.char36 {
            transform: rotate(calc(var(--rotate-letter) * 36));
        } 
        &.char37 {
            transform: rotate(calc(var(--rotate-letter) * 37));
        } 
        &.char38 {
            transform: rotate(calc(var(--rotate-letter) * 38));
        } 
        &.char39 {
            transform: rotate(calc(var(--rotate-letter) * 39));
        } 
        &.char40 {
            transform: rotate(calc(var(--rotate-letter) * 40));
        } 
    }
}
.img-box4 {
    position: relative;
    display: inline-block;
    margin-right: 46px;
    margin-left: 10px;
    .img1 {
        display: inline-block;
    }
    .img2 {
        display: inline-block;
        position: absolute;
        bottom: 0;
        right: 0;
        background: $white-color;
        padding: 3px;
        filter: grayscale(1);
        width: 300px;
        height: 277px;
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
    @include xxl {
        margin-left: 0;
        margin-right: 0;
    }
    @include xs {
        .img2 {
            position: relative;
            animation: none !important;
            padding: 0;
            margin-top: 30px;
        }
    }
}
.about-feature-grid-wrap {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
    padding-bottom: 30px;
    border-bottom: 1px solid $border-color;
    @include ml {
        grid-template-columns: repeat(1, 1fr);
    }
    @include lg {
        grid-template-columns: repeat(2, 1fr);
    }
    @include sm {
        grid-template-columns: repeat(1, 1fr);
    }
}
.about-feature-grid.style2 {
    gap: 24px;
    .box-icon {
        width: 80px;
        height: 80px;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        margin: 10px;
        &:after {
            content: '';
            position: absolute;
            inset: 0;
            background: $theme-color;
            border-radius: 16px;
            z-index: -1;
            transform: rotate(45deg);
        }
    }
    .media-body {
        align-self: center;
    }
    .box-title {
        margin-bottom: -0.3em;
        font-weight: 700;
        @include xs {
            font-size: 20px;
        }
    }
}

/* About 5 ---------------------------------- */
.img-box5 {
    position: relative;
    display: flex;
    gap: 30px;
    z-index: 1;
    img {
        border-radius: 30px;
    }
    .img1 {
        img {
            height: 100%;
            object-fit: cover;
        }
    }
    .year-counter {
        display: flex;
        gap: 20px;
        align-items: center;
        margin-top: 22px;
        .year-counter_number {
            font-size: 74px;
            font-weight: 800;
            color: $theme-color;
            line-height: 1;
        }
        .year-counter_text {
            font-size: 18px;
            font-weight: 600;
            color: $theme-color2;
            margin-bottom: 0;
            span {
                display: block;
                color: $body-color;
                font-size: 30px;
                font-weight: 700;
                line-height: 1;
            }
        }
    }
    .about-shape5-1 {
        position: absolute;
        left: -285px;
        top: 0;
        z-index: -1;
        @include xl {
            display: none;
        }
    }
    @include xs {
        display: block;
        img {
            width: 100%;
        }
        .img1 {
            margin-bottom: 24px;
        }
    }
}